---

---

<div
  class="bg-muted/40 relative hidden gap-1 overflow-hidden text-ellipsis whitespace-nowrap border-b border-border px-3 py-2 text-sm text-foreground md:flex"
>
  <span
    class="text-accent-foreground mr-0.5 inline-block rounded-sm bg-accent px-1 py-0.5 text-xs font-semibold rtl:ml-0.5 rtl:mr-0"
    >NEWSLETTER</span
  >
  <a
    href="https://newsletter.resonantprojects.art/"
    target="_blank"
    rel="noopener"
    class="font-medium text-foreground outline-none transition-colors hover:text-accent hover:underline focus:underline"
    title="Sign up for the Resonant Projects newsletter"
  >
    Sign up for thoughtful observations on music, technology, and spiritual evolution!
  </a>
  <a
    href="https://newsletter.resonantprojects.art/"
    target="_blank"
    rel="noopener"
    class="text-primary-foreground hover:text-accent-foreground ml-auto flex h-[1.25rem] w-auto items-center justify-center rounded bg-primary px-3 py-0.5 text-xs font-semibold transition-colors hover:bg-accent ltr:ml-auto rtl:mr-auto"
    title="Sign up for the Resonant Projects newsletter"
  >
    Sign Up
  </a>
</div>
